<h1>Type</h1>

<div class="btn-toolbar">
  <%= link_to content_tag(:button, content_tag(:span, nil, class: 'glyphicon glyphicon-edit') + ' Edit', class: 'btn btn-sm btn-default'), edit_type_path(@type) %>
</div>

<div class="row">
  <p id="notice" class="bg-info"><%= notice %></p>
</div>

<div class="row">
  <div class="col-md-1"><strong>ID</strong></div>
  <div class="col-md-11"><%= @type.id %></div>
</div>

<div class="row">
  <div class="col-md-1"><strong>Description</strong></div>
  <div class="col-md-11"><%= @type.description %></div>
</div>
